#######################################################################
# (July 9, 2016) The idea on how to get this came from http://stackoverflow.com/questions/37187092/angular2-gitignore
# STEPS:
# 1. I installed angular-cli (https://github.com/angular/angular-cli) 
# 2. then created a new project using "ng new <project-name>"
# 3. then I copied the contents of the .gitignore file
#######################################################################


# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
